[submodule "aoc-2015"]
	path = aoc-2015
	url = https://github.com/eduellery/aoc-2015.git
[submodule "aoc-2016"]
	path = aoc-2016
	url = https://github.com/eduellery/aoc-2016.git
[submodule "advent2017-fast"]
	path = advent2017-fast
	url = https://github.com/eduellery/advent2017-fast.git
[submodule "advent2018-fast"]
	path = advent2018-fast
	url = https://github.com/eduellery/advent2018-fast.git
