[submodule "aoc-2015"]
	path = aoc-2015
	url = https://github.com/eduellery/aoc-2015.git
	ignore = untracked
[submodule "aoc-2016"]
	path = aoc-2016
	url = https://github.com/eduellery/aoc-2016.git
	ignore = untracked
[submodule "aoc-2017"]
	path = aoc-2017
	url = https://github.com/eduellery/aoc-2017.git
        ignore = untracked
